ion-col {
    height: 150px;
    background-size: cover !important;
    background-position: center !important;
    color: white;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
    font-weight: bold;
}

.parent_title {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-thumbnail {
        width: 30px;
        height: 30px;
        margin-right: 6px;
    }

    .child_title {
        display: flex;
        flex-direction: column;

        ion-text {
            font-size: 14px;
            font-weight: bold;
            color: #f3dec4;
        }
    }
}