<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"></ion-buttons>
    <div class="parent_title">
      <ion-thumbnail>
        <img src={{image}}>
      </ion-thumbnail>
      <div class="child_title">
        <ion-text text-center>
          TAHOE
        </ion-text>
        <ion-text text-center>
          PARKS
        </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="6" [ngStyle]="{'background':'url('+ images.image +')'}" *ngFor="let images of animalsInZoo"
        (click)="goToCreatureType(images)">
        {{images.title}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>