<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/scan.jpeg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title> QR Code Scan </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>A fast, energy efficient, highly-configurable QR code scanner for Cordova apps.</p>
    </ion-card-content>
    <ion-button expand='block' margin (click)="goToQrScan()">Click to scan a barcode</ion-button>
    <div *ngIf="QRSCANNED_DATA">
      <p>
        Scanned Code Text : <b>{{ scannedData["text"] }}</b>
      </p>
      <p>
        Scanned Code Format : <b>{{ scannedData["format"] }}</b>
      </p>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title> Enter Value to Create QR code </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="text" [(ngModel)]="encodedData" placeholder='Enter the text here...'></ion-input>
    </ion-card-content>
    <ion-button expand='block' margin (click)="goToCreateCode()">Click to Create QR</ion-button>
  </ion-card>
</ion-content>